/** fonts **/


@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');


body {
  background-color: #C0D6DF;
  font-family: 'Open Sans', sans-serif;
  margin: 0;

}

header {
  width: 100%;
  text-align: center;
  color: #4F6D7A;
  margin: 0 auto;
  background: #F5F5F5;
  display: flex;
	flex-flow: column;
	justify-content: center;

}

#logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

h1 {
  font-size: 3.2em;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight:bold;
  text-align: center;
}

nav {
  margin-bottom:%;
  padding-bottom: 3%;
  overflow: hidden;
}

nav a {
  color: #EAA821;
  text-decoration: none;
  padding: 1%;
  font-size: 1rem;

}

h2, h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2em;
  color: #EAA821;
  text-align: center;
  font-weight: bold;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

p {
  padding-bottom: 3%;
  text-align: center;
  color: #4F6D7A;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2em;
    padding: 2.2em 1em 2.2em;
  
  
}

section {
  background-color: #F5F5F5;
  width: 100%;
  border-radius: 10px; 
}


nav a:hover {
    color: #C0D6DF;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}


footer {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: #4F6D7A;
  padding: 15px 5px 15px;
  width: 100%;
  position: absolute;
  
}

footer a {
    color: #EAA821;
}

footer a:hover {
    color: #C0D6DF;
}


  
