body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100vh;
  grid-gap: 0px 0px;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.75s;
  }

