body {
  display: grid;
  grid-gap: 50px;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.75s;
  }

