/** fonts **/


@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');




/* BANNER */
#banner {
  background-color: #FCF0DA;
}

#banner p {
  text-align: center;
  padding: 2%;
}
/* BANNER */



/* WEATHER SUMMARY */

.hero-img {
  width: 100%;
  margin-bottom: 5%;
}

.stats p {
  line-height: 2em;
}


/* WEATHER SUMMARY */

body {
  background-color: #C0D6DF;
  font-family: 'Open Sans', sans-serif;
  margin: 0;

}

header {
  width: 100%;
  text-align: center;
  color: #4F6D7A;
  margin: 0 auto;
  background: #F5F5F5;
  display: flex;
	flex-flow: column;
	justify-content: center;

}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  margin-bottom: 0;
}

h1 {
  font-size: 5em;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight:bold;
  text-align: center;
  color: #4F6D7A;
}

#catchphrase {
  color: #EAA821;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Pathway Gothic One', sans-serif;
  
}

	main {
		grid-template-columns: 1fr;
	}

nav ul {
  list-style: none;

}

nav a:hover {
    color: #EAA821;
}

.navigation a {
    display: block;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    color: #4F6D7A;
}


nav {
  background-color: #FCF0DA;
   overflow: hidden;
}

nav a {
  color: #4F6D7A;
  text-decoration: none;
  padding: 1%;
  font-size: 1.1rem;
}

.active {
  font-weight: bold;
}

li {
  display: inline-block;
  padding: 1%;

}
h2 {
  font-size: 2.5em;
}

h2, h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #EAA821;
  text-align: center;
  font-weight: bold;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 2em;
}

p {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 3%;
  text-align: center;
  color: #4F6D7A;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2em;
    padding: 5%;
}

section {
  background-color: #F5F5F5;
  width: 100%;
  border-radius: 10px; 
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

hr {
  width: 70%;
  border: 2px solid #4F6D7A;
}


footer {
  background-color: #FCF0DA;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: #4F6D7A;
  padding: 15px 5px 15px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

footer a {
    color: #EAA821;
}

footer a:hover {
    color: #C0D6DF;
}

/* CONTACT */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #FCF0DA;
  color: #4F6D7A;
}

.fa-twitter {
  background: #FCF0DA;
  color: #4F6D7A;
}

.fa-google {
  background: #FCF0DA;
  color: #4F6D7A;
}

/* CONTACT */

/* 5 DAY FORECAST */


table, th, td {
        border: 3px solid #C0D6DF;
        border-radius: 10px;
        border-collapse: collapse;
        padding: 1%;
        color: #4F6D7A;
        text-align: center;
    }

    td img {
        width: 80%;
    }

  table {
    width: 90%;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 5%;
  }

 /* 5 DAY FORECAST */



  /* GALLERY */

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.75s;
  }


.weather-gallery {
    display: grid;
    grid-template-columns: 1fr;
}

.gallery {
  width: 100%;
  border-radius: 5px;
}


figcaption {
  text-align: center;
  padding: 5%;
  color: #4F6D7A;
  font-size: 1.1em;
}

/* GALLERY */


