/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
 .menu {
  margin-right: 8%;
   display: none !important;
} 
  
    
  nav a {
    width: 50px;
    font-size: 0.9rem;
    margin-right: 20px;
  }
  
/* ARTICLE */
  #preston-snow {
  width: 90%;
  margin-bottom: 5%;
}
  
  p {
    max-width: 90%;
    text-align: center;
  }
  
  h3 {
    max-width: 70%;
  }

/* ARTICLE */
  
  
/* CONTACT */
.map {
  margin-right:auto; 
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 1%;
  width: 90%;
  }
  
  #contact-body p {
  text-align: center;
  line-height: 2.9em;
    max-width: 90%;
  }
  

/* CONTACT */
  
  
  
    /* GALLERY */

.weather-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery {
  width: 100%;
  border-radius: 5px;
}


figcaption {
  text-align: center;
  padding: 5%;
  color: #4F6D7A;
  font-size: 1.1em;
}

  
  
  picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.75s;
  }
/* GALLERY */

}
