/** fonts **/


@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');


body {
  background-color: #E0CCD0;
  max-width: 98%;
  font-family: 'Open Sans', sans-serif;

}

header {
    background-color: #F7F3F4;
    padding: 5px;
  	border-radius: 10px; 
    width: 100%;
}

h1 {
  color: #875A65;
  font-size: 3.5em;
  font-family: 'Libre Caslon Text', serif;
  font-weight:bold;
  text-align: center;
}

h2 {
  font-family: 'Libre Caslon Text', serif;
  font-style: italic;
  font-size: 1.8em;
  color: #875A65;
  text-align: center;
}

p {
  padding: 10%;
  text-align: center;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    padding: 2.5em 1em 2.5em;
  
  
}

section {
   border-radius: 8px;
    background-color: #F7F3F4;
    padding: 20px 0px 20px;
}


img {

  max-width: 300px;
  box-shadow: 10px 10px 5px rgb(165, 131, 131);
    display: block;
    margin-left: auto;
    margin-right: auto }

}


nav a:link {
    color: #875A65;
}

nav a:visited {
    color: #312025;
}

ul {
  list-style: none;
}

footer {
  background-color: #F7F3F4;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: #6E4952;
  padding: 15px 5px 15px;
  border-radius: 10px; 
  width: 100%;
  
}

footer a:link {
    color: #875A65;
}

footer a:visited {
    color: #A67785;
}

